root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
time_trailing_whitespace = true

[*.cs]
csharp_using_directive_placement = inside_namespace:error # IDE0065: Misplaced using directive
dotnet_sort_system_directives_first = true

dotnet_diagnostic.CA1052.severity = suggestion # CA1052: Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1065.severity = suggestion # CA1065: Do not raise exceptions in unexpected locations
dotnet_diagnostic.CA1303.severity = suggestion # CA1303: Do not pass literals as localized variables
dotnet_diagnostic.CA1305.severity = none # CA1305: Specify IFormatProvider https://stackoverflow.com/a/50774516
dotnet_diagnostic.CA1062.severity = suggestion # CA1062: Validate arguments of public methods
dotnet_diagnostic.CA2208.severity = suggestion # CA2208: Instantiate argument exceptions correctly

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = suggestion
dotnet_diagnostic.CA1000.severity = suggestion
dotnet_diagnostic.CA1001.severity = suggestion
dotnet_diagnostic.CA1018.severity = suggestion
dotnet_diagnostic.CA1031.severity = suggestion
dotnet_diagnostic.CA1032.severity = suggestion
dotnet_diagnostic.CA1034.severity = suggestion
dotnet_diagnostic.CA1036.severity = suggestion
dotnet_diagnostic.CA1040.severity = suggestion
dotnet_diagnostic.CA1041.severity = suggestion
dotnet_diagnostic.CA1051.severity = suggestion
dotnet_diagnostic.CA1054.severity = suggestion
dotnet_diagnostic.CA1055.severity = suggestion
dotnet_diagnostic.CA1056.severity = suggestion
dotnet_diagnostic.CA1063.severity = suggestion
dotnet_diagnostic.CA1304.severity = none # https://stackoverflow.com/a/50774516
dotnet_diagnostic.CA1307.severity = none # https://stackoverflow.com/a/50774516
dotnet_diagnostic.CA1308.severity = suggestion
dotnet_diagnostic.CA1507.severity = suggestion
dotnet_diagnostic.CA1707.severity = suggestion
dotnet_diagnostic.CA1710.severity = suggestion
dotnet_diagnostic.CA1712.severity = suggestion
dotnet_diagnostic.CA1714.severity = suggestion
dotnet_diagnostic.CA1715.severity = suggestion
dotnet_diagnostic.CA1716.severity = suggestion
dotnet_diagnostic.CA1717.severity = suggestion
dotnet_diagnostic.CA1720.severity = suggestion
dotnet_diagnostic.CA1721.severity = suggestion
dotnet_diagnostic.CA1724.severity = suggestion
dotnet_diagnostic.CA1801.severity = suggestion
dotnet_diagnostic.CA1802.severity = suggestion
dotnet_diagnostic.CA1806.severity = suggestion
dotnet_diagnostic.CA1812.severity = suggestion
dotnet_diagnostic.CA1816.severity = suggestion
dotnet_diagnostic.CA1819.severity = suggestion
dotnet_diagnostic.CA1820.severity = suggestion
dotnet_diagnostic.CA1822.severity = suggestion
dotnet_diagnostic.CA1823.severity = suggestion
dotnet_diagnostic.CA1824.severity = suggestion
dotnet_diagnostic.CA1825.severity = suggestion
dotnet_diagnostic.CA1826.severity = suggestion
dotnet_diagnostic.CA1829.severity = suggestion
dotnet_diagnostic.CA2000.severity = suggestion
dotnet_diagnostic.CA2007.severity = none # https://devblogs.microsoft.com/dotnet/configureawait-faq/
dotnet_diagnostic.CA2100.severity = suggestion
dotnet_diagnostic.CA2211.severity = suggestion
dotnet_diagnostic.CA2214.severity = suggestion
dotnet_diagnostic.CA2227.severity = suggestion
dotnet_diagnostic.CA2229.severity = suggestion
dotnet_diagnostic.CA2234.severity = suggestion
dotnet_diagnostic.CA5351.severity = suggestion
dotnet_diagnostic.CS0114.severity = suggestion
dotnet_diagnostic.CS0252.severity = suggestion
dotnet_diagnostic.CS0472.severity = suggestion
dotnet_diagnostic.CS0612.severity = none # SonarQube spams PRs with CODE_SMELL comments which make human comments extremely difficult to find. Case in point: https://bitbucket.es.ad.adp.com/projects/AS/repos/adp.streamline.spm/pull-requests/955
dotnet_diagnostic.CS0618.severity = none # SonarQube spams PRs with CODE_SMELL comments which make human comments extremely difficult to find. Case in point: https://bitbucket.es.ad.adp.com/projects/AS/repos/adp.streamline.spm/pull-requests/955
dotnet_diagnostic.CS1591.severity = none # let's write XML comments when we actually have something meaningful to say
dotnet_diagnostic.CS1998.severity = suggestion
dotnet_diagnostic.SA0001.severity = none # https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/3092#issuecomment-566672421
dotnet_diagnostic.SA1100.severity = suggestion
dotnet_diagnostic.SA1101.severity = suggestion
dotnet_diagnostic.SA1107.severity = suggestion
dotnet_diagnostic.SA1110.severity = suggestion
dotnet_diagnostic.SA1115.severity = suggestion
dotnet_diagnostic.SA1117.severity = suggestion
dotnet_diagnostic.SA1118.severity = suggestion
dotnet_diagnostic.SA1119.severity = suggestion
dotnet_diagnostic.SA1121.severity = suggestion
dotnet_diagnostic.SA1122.severity = suggestion
dotnet_diagnostic.SA1127.severity = suggestion
dotnet_diagnostic.SA1129.severity = suggestion
dotnet_diagnostic.SA1131.severity = suggestion
dotnet_diagnostic.SA1132.severity = suggestion
dotnet_diagnostic.SA1201.severity = suggestion
dotnet_diagnostic.SA1202.severity = suggestion
dotnet_diagnostic.SA1203.severity = suggestion
dotnet_diagnostic.SA1204.severity = suggestion
dotnet_diagnostic.SA1208.severity = suggestion # SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1211.severity = suggestion
dotnet_diagnostic.SA1214.severity = suggestion
dotnet_diagnostic.SA1300.severity = suggestion
dotnet_diagnostic.SA1303.severity = suggestion
dotnet_diagnostic.SA1304.severity = suggestion
dotnet_diagnostic.SA1306.severity = suggestion
dotnet_diagnostic.SA1307.severity = suggestion # SA1307: Accessible fields should begin with upper-case letter
dotnet_diagnostic.SA1309.severity = suggestion
dotnet_diagnostic.SA1310.severity = suggestion
dotnet_diagnostic.SA1311.severity = suggestion
dotnet_diagnostic.SA1312.severity = suggestion
dotnet_diagnostic.SA1313.severity = suggestion
dotnet_diagnostic.SA1314.severity = suggestion
dotnet_diagnostic.SA1400.severity = suggestion
dotnet_diagnostic.SA1401.severity = suggestion # SA1401: Fields should be private
dotnet_diagnostic.SA1402.severity = suggestion
dotnet_diagnostic.SA1407.severity = suggestion
dotnet_diagnostic.SA1408.severity = suggestion
dotnet_diagnostic.SA1502.severity = suggestion
dotnet_diagnostic.SA1503.severity = suggestion
dotnet_diagnostic.SA1600.severity = none # SomethingMustBeDocumented rules make Jack a dull boy
dotnet_diagnostic.SA1601.severity = none # SomethingMustBeDocumented rules make Jack a dull boy
dotnet_diagnostic.SA1602.severity = none # SomethingMustBeDocumented rules make Jack a dull boy
dotnet_diagnostic.SA1611.severity = none # SomethingMustBeDocumented rules make Jack a dull boy
dotnet_diagnostic.SA1615.severity = none # SomethingMustBeDocumented rules make Jack a dull boy
dotnet_diagnostic.SA1618.severity = none # SomethingMustBeDocumented rules make Jack a dull boy
dotnet_diagnostic.SA1619.severity = none # SomethingMustBeDocumented rules make Jack a dull boy
dotnet_diagnostic.SA1622.severity = suggestion
dotnet_diagnostic.SA1623.severity = none
dotnet_diagnostic.SA1629.severity = suggestion
dotnet_diagnostic.SA1633.severity = none # SA1633: File should have header
dotnet_diagnostic.SA1636.severity = suggestion
dotnet_diagnostic.SA1640.severity = suggestion
dotnet_diagnostic.SA1649.severity = suggestion

dotnet_diagnostic.CS8625.severity = suggestion # CS8625: Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.CS8618.severity = none # CS8618: Non-nullable field is uninitialized. Consider declaring as nullable.
dotnet_diagnostic.CS8601.severity = suggestion # CS8601: Possible null reference assignment.
dotnet_diagnostic.CA1067.severity = suggestion # CA1067: Override Object.Equals(object) when implementing IEquatable<T>
dotnet_diagnostic.CS8767.severity = suggestion # CS8767: Nullability of reference types in type of parameter doesn't match implicitly implemented member (possibly because of nullability attributes).
dotnet_diagnostic.CS8629.severity = suggestion # CS8629: Nullable value type may be null.
dotnet_diagnostic.CS8600.severity = suggestion # CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8603.severity = suggestion # CS8603: Possible null reference return.

# CS8620: Argument cannot be used for parameter due to differences in the nullability of reference types.
dotnet_diagnostic.CS8620.severity = none

# CA9998: Deprecated package installed
dotnet_diagnostic.CA9998.severity = suggestion
